Feature_	Component_
s38	s72
FeatureComponents	Feature_	Component_
sc	@ResID@
sc	@MsgsID@
sc	@SCID@
sc	@DocID@
cc	@ResID@
cc	@MsgsID@
cc	@CCID@
cc	@DocID@
digiclock	@ResID@
digiclock	@MsgsID@
digiclock	@CCID@
digiclock	@DigiclockID@
digiclock	@DocID@
lsstg	@ResID@
lsstg	@LsstgID@
lsstg	@DocID@
lstypeinfo	@ResID@
lstypeinfo	@LstypeinfoID@
lstypeinfo	@DocID@
samples	@ResID@
samples	@SampleID@
samples	@DocID@
