Property	Value
s72	l0
Property	Property
ALLUSERS 	2
ARPHELPLINK	http://@ProductId@.berlios.de/
BannerBitmap	bannrbmp
ButtonText_Back	< &Back
ButtonText_Browse	Br&owse
ButtonText_Cancel	Cancel
ButtonText_Exit	&Exit
ButtonText_Finish	&Finish
ButtonText_Ignore	&Ignore
ButtonText_Install	&Install
ButtonText_Next	&Next >
ButtonText_No	&No
ButtonText_OK	OK
ButtonText_Remove	&Remove
ButtonText_Repair	&Repair
ButtonText_Reset	&Reset
ButtonText_Resume	&Resume
ButtonText_Retry	&Retry
ButtonText_Return	&Return
ButtonText_Yes	&Yes
CompleteSetupIcon	completi
ComponentDownload	http://@ProductId@.berlios.de/update/
CustomSetupIcon	custicon
DefaultUIFont	DlgFont8
DialogBitmap	dlgbmp
DlgTitleFont	{&DlgFontBold8}
ErrorDialog	ErrorDlg
ExclamationIcon	exclamic
IAgree	No
InfoIcon	info
InstallerIcon	insticon
INSTALLLEVEL	1
InstallMode	Typical
Manufacturer	@Manufacturer@
PIDTemplate	12345<###-%%%%%%%>@@@@@
ProductCode	{@ProductCode@}
ProductID	123-3334567
ProductLanguage	1033
ProductName	@ProductName@
ProductVersion	@ProductVersion@
Progress1	Installing
Progress2	installs
PROMPTROLLBACKCOST	P
RemoveIcon	removico
RepairIcon	repairic
Setup	Installation
ShowUserRegistrationDlg	1
Wizard	Installation Wizard
UpdateCode	{@ProductCode@}
