Registry	Root	Key	Name	Value	Component_
s72	i2	l255	L255	L0	s72
Registry	Registry
sclogging	-1	Software\@ProductId@\@SCID@\logging	tracelevel	debug	@SCID@
cclogging	-1	Software\@ProductId@\@CCID@\logging	tracelevel	debug	@CCID@
lsstglogging	-1	Software\@ProductId@\@LsstgID@\logging	tracelevel	debug	@LsstgID@
lstypeinfologging	-1	Software\@ProductId@\@LstypeinfoID@\logging	tracelevel	debug	@LstypeinfoID@