; $Id$
; 
; Copyright (C) 2008 Dorothea Wachmann
; 
; This program is free software: you can redistribute it and/or modify
; it under the terms of the GNU General Public License as published by
; the Free Software Foundation, either version 3 of the License, or
; (at your option) any later version.
; 
; This program is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU General Public License for more details.
; 
; You should have received a copy of the GNU General Public License
; along with this program.  If not, see http://www.gnu.org/licenses/.
;
; related information
; rundll32.exe advpack.dll,LaunchINFSectionEx myinf.inf,,c:\temp\mydata.cab,36
; rundll32.exe advpack.dll,LaunchINFSection myinf.inf,,3
; RUNDLL32.EXE SETUPAPI.DLL,InstallHinfSection DefaultInstall 132 C:\WINDOWS\INF\SHELL.INF
; CoGetClassObjectFromURL
;
[Version]
Signature="$Chicago$"
AdvancedINF=2.5,%BadAdvpackVer%

[DefaultInstall]
CheckAdminRights=1
CopyFiles=SWFiles.add
AddReg=SW.AddReg
RegisterOCXs=RegisterOCXSection

[DefaultUninstall]
Cleanup=1
DelFiles=SWFiles.del
DelReg=SW.DelReg
UnRegisterOCXs=UnRegisterOCXSection

[SourceDisksNames]
1=%DiskDescription%,"@bvr20983result",0

[SourceDisksFiles]
@productprefix.inf=1
@bvr20983msgsresult=1
@bvr20983ccresult=1
@bvr20983scresult=1
@digiclockresult=1
@lsstgresult=1
@lstypeinforesult=1

[SWFiles.add]
@bvr20983msgsresult,,,33
@bvr20983ccresult,,,33
@bvr20983scresult,,,33
@digiclockresult,,,33
@lsstgresult,,,33
@lstypeinforesult,,,33

[SWFiles.del]
@bvr20983msgsresult,,,1
@bvr20983ccresult,,,1
@bvr20983scresult,,,1
@digiclockresult,,,1
@lsstgresult,,,1
@lstypeinforesult,,,1

; DIRID_PROGRAM_FILES [16422]
[DestinationDirs]
SWFiles.add=16422, @productprefix
SWFiles.del=16422, @productprefix

[SW.AddReg]
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"DisplayName",,"%ProductName%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"UninstallString",,"RunDll32.exe advpack.dll, LaunchINFSection %16422%\@productprefix\@productprefix.inf,DefaultUninstall"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"Publisher",,"%Publisher%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"DisplayVersion",,"%DisplayVersion%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"VersionMajor",,"%VersionMajor%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"VersionMinor",,"%VersionMinor%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"HelpLink",,"%HelpLink%"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"URLUpdateInfo",,"%URLUpdateInfo%"

[SW.DelReg]
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"DisplayName"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"UninstallString"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"Publisher"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"DisplayVersion"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"VersionMajor"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"VersionMinor"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"HelpLink"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix,"URLUpdateInfo"
HKLM,SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\@productprefix

[RegisterOCXSection]
%16422%\@productprefix\@bvr20983ccresult
%16422%\@productprefix\@bvr20983scresult

[UnRegisterOCXSection]
%16422%\@productprefix\@bvr20983ccresult
%16422%\@productprefix\@bvr20983scresult

[Strings]
BadAdvpackVer="Incorrect version of advpack.dll. Please get new version from our web site."
DiskDescription="@productname cabinet file"
VersionMajor = "@productmajorversion"
VersionMinor = "@productminorversion"
DisplayVersion = "@productmajorversion"
Publisher = "@publisher"
ProductName = "@productname"
HelpLink = "https://www.jondos.de/"
URLUpdateInfo = "https://www.jondos.de/"

; German
[Strings.0407]         
BadAdvpackVer="Falsche Version der Bibliothek advpack.dll. Bitte installieren Sie die neuste Version."
DiskDescription="@productname Installationsdatei"
VersionMajor = "@productmajorversion"
VersionMinor = "@productminorversion"
DisplayVersion = "@productmajorversion"
Publisher = "@publisher"
ProductName = "@productname"
HelpLink = "https://www.jondos.de/"
URLUpdateInfo = "https://www.jondos.de/"
