#if !defined(BVR20983VOLATILEVER_H)

#define BVR20983VOLATILEVER_H

#define verMakeDate       "30.10.2009 01:24"
#define verCommit         "df7cf0120dd2d222aaa157cc5bdef35630ed2a6f"
#define verMSIProdVersion "1.0.0"
#define verMSIProdCode    "BFE20983-0001-0100-0001-FFFFFFFFFFFF"
#define verMSIPackCode    "BFE20983-0001-0101-0000-0002FFFFFFFF"
#define verMSIUpdCode     "BFE20983-0001-0102-FFFF-FFFFFFFFFFFF"
#define verDebugVersion   "1"

#endif // BVR20983VOLATILEVER_H
